<section class="cookies" data-cookie-element>
    <div class="container cookies_content">
        <div class="padding-left-right">
            <div class="cookies_wrap">
                <p class='cookies_text'>
                    Мы используем cookie-файлы для предоставления вам наиболее актуальной информации.<br>
                    Продолжая использовать сайт, Вы соглашаетесь с использованием cookie-файлов
                </p>
                <div class='cookies_container'>
                    @@include("source/html/ui/btn_link.html", {"value": "Принять и продолжить", "class": "btn btn--outline-white btn--cookies", attr: "data-cookie-accept"})
                </div>
            </div>
        </div>
    </div>
</section>