<div class="nav-links">
  <ul class="nav-links__list">
    <li class="nav-links__item">
      <a href="index.html" class="nav-links__link">О компании</a>
    </li>
    <li class="nav-links__item">
      <a href="catalog.html" class="nav-links__link">Продукция</a>
    </li>
    <li class="nav-links__item">
      <a href="about.html" class="nav-links__link">Услуги</a>
    </li>
    <li class="nav-links__item">
      <a href="contacts.html" class="nav-links__link">Проекты</a>
    </li>
    <li class="nav-links__item">
      <a href="contacts.html" class="nav-links__link">Карьера</a>
    </li>
    <li class="nav-links__item">
      <a href="contacts.html" class="nav-links__link">Контакты</a>
    </li>
      <!-- @@include("source/html/ui/btn_link.html", {"value": "Тестовая кнопка", class: "btn--blue"}) -->
</div>