<script type="text/javascript">

	// if (document.getElementById('yandex-map') !== null) {
	// 	ymaps = window.ymaps;
	// 	function init() {
	// 		let map = new ymaps.Map('yandex-map', {
	// 			center: [55.817112, 37.500270],
	// 			zoom: 16,
	// 			type: 'yandex#map',
	// 			controls: []
	// 		});
	// 		map.controls.add('zoomControl');

	// 		map.behaviors.disable("scrollZoom");

	// 		let placemark = new ymaps.Placemark([55.817112, 37.500270], {}, {
	// 			iconLayout: 'default#image',
	// 			// iconImageHref: '@images/map-icon.webp',
	// 			// iconImageSize: [210, 150],
	// 			// iconImageOffset: [-115, -155]
	// 			iconImageSize: [105, 75],
	// 			iconImageOffset: [-58, -80]
	// 		});
	// 		map.geoObjects.add(placemark);
	// 	}
	// 	ymaps.ready(init);
	// };

</script> 