<button class="btn @@if (context.class) {@@class}" @@if (context.name) {name="@@name"} @@if (context.id) {id="@@id"} @@if (context.type) {type="@@type"} @@if (context.attr) {@@attr}>@@value 
  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="22" viewBox="0 0 23 22" fill="none">
  <path d="M6.91669 15.5834L16.0834 6.41675" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.91669 6.41675H16.0834V15.5834" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</button>