// Viewports
// ---------------------------------
$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;


// Desktop first
@mixin vp-1600 {
	@media (max-width: (1600px)) {
		@content;
	}
}
@mixin vp-1800 {
	@media (max-width: (1800px)) {
		@content;
	}
}
@mixin vp-1650 {
	@media (max-width: (1650px)) {
		@content;
	}
}
@mixin vp-1920 {
	@media (max-width: ($vp-1920)) {
		@content;
	}
}

@mixin vp-1440 {
	@media (max-width: ($vp-1440)) {
		@content;
	}
}

@mixin vp-1280 {
	@media (max-width: ($vp-1280)) {
		@content;
	}
}

@mixin vp-1024 {
	@media (max-width: ($vp-1024)) {
		@content;
	}
}

@mixin vp-768 {
	@media (max-width: ($vp-768)) {
		@content;
	}
}

@mixin vp-375 {
	@media (max-width: ($vp-375)) {
		@content;
	}
}

// Mobile first
// @mixin vp-375 {
//   @media (min-width: $vp-375 + 1) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768 + 1) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024 + 1) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280 + 1) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440 + 1) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920 + 1) {
//     @content;
//   }
// }
