.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
}

.accordion_item {
    background-color: var(--color-gray);
    border-radius: 16px;
    transition: var(--default-transition);
    padding: 0;

    &.active {
        .accordion_content {
            grid-template-rows: 1fr;
            padding-bottom: 3.3rem;
            @include vp-1024 {
                padding-bottom: 1.4rem; 
            }
        }

        .accordion_icon {
            transform: rotate(180deg);
        }

        .accordion_button {
            border-bottom: 0.1rem solid var(--color-overlay);
        }
    }
}

.accordion_button {
    display: flex;
    
    width: 100%;
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
    transition: opacity var(--default-transition);

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.accordion_button-wrap {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.8rem 3.2rem;
    @include vp-1024 {
        padding: 1.4rem 2rem;
    }
}

.accordion_number  {
    margin-left: -2.2rem;
    margin-right: 0.5rem;
}

.accordion_title, 
.accordion_number {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-default-white);
    text-align: left;
}

.accordion_icon {
    align-self: center;
    margin-left: 1rem;
    transition: var(--default-transition);

}

.accordion_content {
    display: grid;
    grid-template-rows: 0fr;
    padding: 0 3.2rem;
    transition: var(--default-transition);
    overflow: hidden;

    @include vp-1024 {
        padding: 0 2rem; 
    }
}

.accordion_hidden-wrap {
    min-height: 0;
}

