.footer {
  color: var(--color-white);
  padding-top: 8rem;

  @include vp-1600 {
    display: flex;
    flex-direction: column;
    gap: 5rem !important;
  }

  @include vp-1600 {
    padding-top: 5rem;

  }

  a:hover {
    transition: color 0.3s ease-in-out;
    color: var(--color-blue)
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(190px, 1fr) 2fr;
    align-items: flex-start;
    gap: 1rem;


    @include vp-1600 {
      gap: 5rem;
      display: flex;
      flex-direction: column;
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // gap: 3rem;

    @include vp-1600 {
      flex-direction: column;
      // gap: 2rem;
    }
  }

  &__logo {
    height: 3.1rem;
    margin-right: 5rem;

    @include vp-1024 {
      height: 2.1rem;
    }

    @include vp-768 {
      height: 1.8rem
    }

    @include vp-1024 {
      height: 2.1rem;
    }

    @include vp-768 {
      height: 1.8rem
    }
  }

  &__links {
    width: 28.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: var(--color-white);

    @include vp-1600 {
      gap: 2rem;
      // margin-top: 2rem;
      // margin-bottom: 2rem;
    }

    &:first-child {
      @include vp-1600 {
        // margin-top: 2rem;
      }
    }

    &>h4>a {
      color: var(--color-white);

      @include vp-768 {}
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;

    @include vp-1600 {
      gap: 3.2rem;
      // padding-top: 3.8rem;
    }
  }

  &__block-text {
    color: var(--color-white);
    opacity: 0.6;

    a {
      color: var(--color-white);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-blue);
      }
    }

    @include vp-1600 {
      font-size: 1.4rem;
    }
  }

  &__block-value {
    color: var(--color-white);

    a {
      color: var(--color-white);
    }
  }

  &__desktop {
    display: grid;
    padding-top: 2.4rem;
    padding-bottom: 3.4rem;

    @include vp-1600 {
      display: none !important;
    }
  }

  &__mobile {
    display: none;
    flex-direction: column;
    gap: 1.6rem;
    padding-top: 2.4rem;
    padding-bottom: 5rem;

    @include vp-1600 {
      display: flex;
      font-size: 14px;
    }

    p {
      color: var(--color-white);
      opacity: 0.6;

      a {
        transition: color 0.3s ease-in-out;
        color: var(--color-white);

        &:hover {
          color: var(--color-blue);
        }
      }
    }
  }

  &__info {
    max-width: 34.4rem !important;

    @include vp-1600 {
      max-width: none !important;
    }
  }
}