.nav-links {
  &__list {
    display: flex;
    gap: 3.2rem;
    font-size: 1.6rem;

    @include vp-1650 {
      font-size: 1.5rem;
    }


    @include vp-1600 {

      display: none;
    }
  }

  &__item {
    white-space: nowrap;

    &>a {
      color: var(--color-black);
    }
    li>a{
      width: 100%;
    }
    &:hover{
      a {
        color: var(--color-main-red) !important;
      }
    }
  }

}