.preview-link {
    background-color: var(--color-transparent);
    border-radius: 24px;
    display: flex;
    gap: 2.4rem;
    padding: 1rem;
    margin-right: 3rem;

    @include vp-1024 {
        padding: 1.5rem;
    }
      @include vp-768 {
        margin-right: 0;
    }

    &__img {
        width: 100px;
        height: 100px;
        border-radius: 2rem;
        object-fit: cover;
        // margin: 1rem;
        @include vp-1024 {
            width: 52px;
            height: 52px;
            border-radius: 0.8rem;
            // margin: 1.5rem;
        }
    }

    &__info {
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem 0;

        @include vp-1024 {
            // width: 52px;
            // height: 52px;
            padding: 0;
        }
    }

    &__title {
        font-size: clamp(1.6rem, 1vw, 1.8rem);
        font-weight: 600;
    }

    &__text {
        display: flex;
        font-size: clamp(1.4rem, 1vw, 1.8rem);
        align-items: center;
        color: var(--color-white);
        cursor: pointer;
    }
}