.slider-career {
    height: max-content;
    position: relative;
    min-height: 100%;
    height: fit-content;
    overflow: hidden;
    @media (max-height: 900px) {
        height: 100dvh;
        min-height: auto;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--black-to-white);
        opacity: 0.6;
    }

    &__block-img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%  ;
        &>img {
            transform-origin: center;
            min-height: 100%;
            width: 100%;
            object-fit: cover;
            animation: zoom 30000ms infinite;
            object-position: center;
            height: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;

        @include vp-1024 {
            // height: 229px;
        }
        @media (max-height: 900px) {
            height: auto;
        }
    }

    &__title {
        color: var(--color-white);

        @include vp-1440 {
            font-size: 3.5rem;
            padding-bottom: 55px;
        }

        @include vp-768 {
            font-size: 2.3rem;
        }
    }

    &__text {
        color: var(--color-white);
        font-size: 2rem;
        padding-bottom: 8rem;
        width: 482px;

        @include vp-1024 {
            font-size: 1.4rem;
            width: auto;
            padding-bottom: 0;
        }
    }

    &__content {
        // height: 90rem;
        width: 100%;
        padding-bottom: 8rem;
        padding-top: 20.9rem;


        position: relative;
        @media (max-height: 900px) {
            padding-bottom: 4rem;
            padding-top: 12.9rem;
        }

        @include vp-1024 {
            // padding-top: 15.8rem;
            padding-bottom: 11.8rem;
        }

        height: 100%;

        @include vp-1280 {
            gap: 4.8rem;
        }

        @include vp-1024 {
            grid-template-columns: 1fr;
            gap: 4rem;
        }

        h2 {
            padding-top: 7rem;

            @include vp-1024 {
                padding-top: 0rem;
            }
        }
    }

    &__control {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4rem;
        min-height: 10.2rem;
    }

    &__preview {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    &__img-rigth {
        object-position: 82%;
    }
}